<nav class="navbar">
  <div class="logo">
    <a href="{% url 'home' %}"><img style="width: 50px; border-radius: 50%;" src="https://cdn.dribbble.com/userupload/22923953/file/original-7989767638d90d40050d24036dd357da.gif"></a>
  </div>
  <div class="nav-links">
    <a href="{% url 'login' %}">LOGIN</a>
    <a href="{% url 'register' %}">Register</a>
    <a href="{% url 'home' %}">HOME</a>
    <a href="{% url 'bookings' %}">BOOKING</a>
    <a href="{% url 'history' %}">HISTORY</a>
    <a href="{% url 'profile' %}">PROFILE</a>
    <a href="{% url 'logout_' %}">LOGOUT</a>
    <a href="{% url 'about' %}">ABOUT</a>
  </div>
</nav>